# Data Generation

The goal of this notebook is to generate data for a task offloading model.

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random as rd

## Les RSU (Road Side Unit)

In [2]:
# we need to geenrate random data for the following variables:

# a set of M RSUs 
# a RSU ID in the range [0, M]
# with a coordinate x in the range [0, 100]
# with a coordinate y in the range [0, 100]
# a data transmission rate DTR in the range [1, 60] Mbps

# we have to make sure that no RSU has the same coordinates

rsu = pd.DataFrame(columns=['ID', 'X', 'Y', 'DTR'])
rsu['ID'] = np.arange(0, 100)
rsu['X'] = np.random.randint(0, 100, 100)
rsu['Y'] = np.random.randint(0, 100, 100)
rsu['DTR'] = np.random.randint(1, 60, 100)

rsu.shape

(100, 4)

In [3]:
# if there are duplicates, we need to remove them and regenerate the data

rsu = rsu.drop_duplicates(subset=['X', 'Y'], keep='first')
rsu = rsu.reset_index(drop=True)

rsu.shape

(100, 4)

In [4]:
# write the data to a csv file
rsu.to_csv('data/rsu.csv', index=False)

## Les ES (Edge Server)

In [14]:
# we need to generate 100 random edge servers
# with an ID in the range [0, 100]
# with a number of VMs in the range [1, 5]
# with a compute power in the range [1, 10] MIPS

es = pd.DataFrame(columns=['ID', 'VM_NB', 'VM_CP'])
es['ID'] = np.arange(0, 40)
es['VM_NB'] = np.random.randint(1, 6, 40)
es['VM_CP'] = np.random.randint(1, 11, 40)

es.shape

(40, 3)

In [15]:
es.head()

   ID  VM_NB  VM_CP
0   0      4      3
1   1      5     10
2   2      2      2
3   3      5      4
4   4      2      7

In [16]:
# write the data to a csv file
es.to_csv('data/es.csv', index=False)

## Les t√¢ches

In [12]:
# we need to generate 50 tasks
# with an ID in the range [0, 50]
# with a number of Million Instructions in the range [1, 100]
# with a size in the range [1, 500] MB
# with a type of task, either 'data transfer' or 'computation'.
# There should be 80% of computation tasks and 20% of data transfer tasks

tasks = pd.DataFrame(columns=['ID', 'LENGTH', 'FILE_SIZE', 'TYPE'])
tasks['ID'] = np.arange(0, 100)
tasks['LENGTH'] = np.random.randint(1, 100, 100)
tasks['FILE_SIZE'] = np.random.randint(1, 500, 100)
tasks['TYPE'] = np.random.choice(['DATA TRANSFER', 'COMPUTATION'], 100, p=[0.2, 0.8])
tasks['X'] = np.random.randint(0, 100, 100)
tasks['Y'] = np.random.randint(0, 100, 100)

tasks.shape

tasks.head()

   ID  LENGTH  FILE_SIZE         TYPE   X   Y
0   0      40        406  COMPUTATION   4  16
1   1      40        236  COMPUTATION  66  21
2   2      28        300  COMPUTATION  35  96
3   3      84        145  COMPUTATION  63  50
4   4      69        237  COMPUTATION   0  56

In [13]:
# write the data to a csv file
tasks.to_csv('data/tasks.csv', index=False)