# Data Generation

The goal of this notebook is to generate data for a task offloading model.

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random as rd

## Les RSU (Road Side Unit)

In [19]:
# we need to geenrate random data for the following variables:

# a set of M RSUs 
# a RSU ID in the range [0, M]
# with a coordinate x in the range [0, 100]
# with a coordinate y in the range [0, 100]
# a data transmission rate DTR in the range [1, 60] Mbps

# we have to make sure that no RSU has the same coordinates

rsu = pd.DataFrame(columns=['ID', 'X', 'Y', 'DTR'])
rsu['ID'] = np.arange(0, 100)
rsu['X'] = np.random.randint(0, 100, 100)
rsu['Y'] = np.random.randint(0, 100, 100)
rsu['DTR'] = np.random.randint(1, 60, 100)

rsu.shape

(100, 4)

In [20]:
# if there are duplicates, we need to remove them and regenerate the data

rsu = rsu.drop_duplicates(subset=['X', 'Y'], keep='first')
rsu = rsu.reset_index(drop=True)

rsu.shape

(100, 4)

In [21]:
# write the data to a csv file
rsu.to_csv('data/rsu.csv', index=False)

## Les ES (Edge Server)

In [22]:
# we need to generate 100 random edge servers
# with an ID in the range [0, 100]
# with a number of VMs in the range [1, 5]
# with a compute power in the range [1, 10] MIPS

es = pd.DataFrame(columns=['ID', 'VM_NB', 'VM_CP'])
es['ID'] = np.arange(0, 100)
es['VM_NB'] = np.random.randint(1, 6, 100)
es['VM_CP'] = np.random.randint(1, 11, 100)

es.shape

(100, 3)

In [23]:
es.head()

   ID  VM_NB  VM_CP
0   0      1      8
1   1      2      6
2   2      4      8
3   3      3      5
4   4      4      4

In [24]:
# write the data to a csv file
es.to_csv('data/es.csv', index=False)

## Les t√¢ches

In [25]:
# we need to generate 50 tasks
# with an ID in the range [0, 50]
# with a number of Million Instructions in the range [1, 100]
# with a size in the range [1, 500] MB
# with a type of task, either 'data transfer' or 'computation'.
# There should be 80% of computation tasks and 20% of data transfer tasks

tasks = pd.DataFrame(columns=['ID', 'LENGTH', 'FILE_SIZE', 'TYPE'])
tasks['ID'] = np.arange(0, 50)
tasks['LENGTH'] = np.random.randint(1, 100, 50)
tasks['FILE_SIZE'] = np.random.randint(1, 500, 50)
tasks['TYPE'] = np.random.choice(['DATA TRANSFER', 'COMPUTATION'], 50, p=[0.2, 0.8])

tasks.shape

tasks.head()

   ID  LENGTH  FILE_SIZE           TYPE
0   0      18         70    COMPUTATION
1   1      28          1  DATA TRANSFER
2   2      87        195  DATA TRANSFER
3   3      50        173  DATA TRANSFER
4   4      15         76    COMPUTATION

In [26]:
# write the data to a csv file
tasks.to_csv('data/tasks.csv', index=False)